* {
  font-family: "Poppins", sans-serif;
}

.home-screen * {
  /* border: 1px solid red; */
  max-width: 800px;
}

.home-screen {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content max-content max-content;
  grid-template-areas:
    "top top upload"
    "pawl pawl upload"
    "pawl pawl .";
  height: 100vh;
  margin: 0 auto; /* center the element horizontally */
  max-width: 1200px; /* set a max-width to maintain white space on large screens */
}

.current-rankings {
  grid-area: top;
  margin: 20px 15px 25px 25px;
  min-width: -webkit-fill-available;
  min-width: -webkit-min-content;
  min-width: min-content;
}

.current-rankings > h2 {
  padding-left: 15px;
}

.top-div {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.top-div .image {
  box-sizing: content-box;
  width: 200px;
  min-width: 200px;
  height: 250px;
  max-width: 200px;
  max-height: 250px;
  margin: 10px;
}

.pawl-of-fame {
  grid-area: pawl;
  margin: 0 10px 0 25px;
  font-family: "Poppins", sans-serif;
  min-width: -webkit-fill-available;
  min-width: -webkit-max-content;
  min-width: max-content;
  height: fit-content;
}

.pawl-of-fame > h2 {
  padding-left: 25px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  grid-gap: 5px;
  padding-left: 20px;
  padding-right: 20px;
  height: fit-content;
  /* overflow-x: auto; */
}

.photo-grid .image {
  margin: 25px;
}

.upload-div {
  box-sizing: border-box;
  grid-area: upload;
  background-color: #fffbec;
  margin: 120px 50px 0 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  height: fit-content;
  min-width: 250px;
}

.upload-btn {
  background-color: rgba(105, 105, 105, 1);
  color: #000000;
  margin: 10px;
  padding: 15px 5px;
  width: 80%;
  text-align: center;
  border-radius: 15px;
  font-size: x-large;
}

.upload-btn:first-child {
  background-color: #ffe587;
}

.upload-btn:nth-child(2) {
  background-color: #8fced7;
}

.rules {
  width: 80%;
  margin-top: 25px;
}

.rules > h3 {
  text-align: center;
}

.image {
  box-sizing: content-box;
  background-color: #eee;
  max-width: 150px;
  min-width: 150px;
  height: 200px;
  max-height: 200px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px 0px;
  border-radius: 15px;
}
