* {
  font-family: "Poppins", sans-serif;
}

.home-screen * {
  /* border: 1px solid red; */
  max-width: 800px;
}

.home-screen {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content max-content max-content;
  grid-template-areas:
    "top top upload"
    "pawl pawl upload"
    "pawl pawl .";
  /* height: 100%; */
  margin: -60px auto 0 auto; /* center the element horizontally */
  max-width: 1200px; /*set a max-width to maintain white space on large screens */
}

.current-rankings {
  grid-area: top;
  margin: 60px 0px 25px 25px;
  min-width: -webkit-fill-available;
  min-width: -webkit-min-content;
  min-width: min-content;
  background-color: none;
}

.current-rankings > h2 {
  padding-left: 55px;
  margin-bottom: -40px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
}

.top-div {
  background-color: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.top-div .image {
  box-sizing: content-box;
  width: 200px;
  min-width: 200px;
  height: 250px;
  max-width: 200px;
  max-height: 250px;
  margin: 10px;
}

.pawl-of-fame {
  grid-area: pawl;
  margin: 0 20px 0 75px;
  font-family: "Poppins", sans-serif;
  min-width: -webkit-fill-available;
  min-width: -webkit-max-content;
  min-width: max-content;
  /* height: fit-content; */
  background-color: rgba(255, 255, 255, 0.27);
  border-radius: 15px;
  margin-top: 50px;
}

.pawl-of-fame > h2 {
  padding-left: 25px;
  font-size: 25px;
  line-height: 37.5px;
  font-weight: 600;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  grid-gap: 5px;
  padding-left: 20px;
  padding-right: 20px;
  max-height: calc(3 * 300px + 2 * 5px); /* max-height of 3 rows */
  overflow-y: auto;
  scrollbar-color: #92cfd5 #ffedbb; /* color of the thumb and track */
}

.photo-grid::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

.photo-grid::-webkit-scrollbar-track {
  background: #ffedbb; /* color of the track */
  border-radius: 5px; /* round the edges of the track */
}

.photo-grid::-webkit-scrollbar-thumb {
  background-color: white; /* color of the thumb */
  border-radius: 5px; /* round the edges of the thumb */
}

.photo-grid::-webkit-scrollbar-thumb:hover {
  background-color: whitesmoke; /* color of the thumb on hover */
}

@media (hover: none) {
  .photo-grid {
    scrollbar-color: white transparent; /* fallback color for non-hover devices */
  }
}

/* fallback style for Firefox */
@-moz-document url-prefix() {
  .photo-grid {
    scrollbar-width: thin;
    scrollbar-color: white #ffedbb;
  }
}

.photo-grid .image {
  margin: 25px;
  max-width: 100%; /* ensure images don't overflow their containers */
  max-height: 100%;
}

.upload-div {
  box-sizing: border-box;
  grid-area: upload;
  background-color: rgba(255, 255, 255, 0.27);
  margin: 205px 50px 0 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 160px;
  height: fit-content;
  min-width: 250px;
}

.upload-btn {
  background-color: rgba(105, 105, 105, 1);
  color: #000000;
  margin: 10px;
  padding: 15px 5px;
  width: 80%;
  text-align: center;
  border-radius: 15px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
  cursor: pointer;
}

.upload-btn:first-child {
  background-color: #ffe587;
}

.upload-btn:nth-child(2) {
  background-color: #8fced7;
}

.rules {
  width: 80%;
  margin-top: 25px;

}

.rules > h3 {
  text-align: center;
  text-decoration: underline;
}

.rules > ul {
  padding-left: 20px;
}

.rules li {
  list-style: circle;
  text-decoration: none;
}

.image {
  box-sizing: content-box;
  background-color: #eee;
  max-width: 150px;
  min-width: 150px;
  height: 200px;
  max-height: 200px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px 0px;
  border-radius: 15px;
}
