.image {
  box-sizing: content-box;
  background-color: #eee;
  max-width: 150px;
  min-width: 150px;
  height: 200px;
  max-height: 200px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px 0px;
  border-radius: 15px;
  position: relative; /* Add relative positioning to parent */
}

.image-vote-count {
  background-color: rgba(143, 206, 215, 1);
  max-width: inherit;
  min-width: inherit;
  height: 45px;
  z-index: 5;
  border-radius: 0 0 15px 15px;
  position: absolute; /* Add absolute positioning to child */
  bottom: 0; /* Align to the bottom of the parent */
  left: 0; /* Align to the left of the parent */
  right: 0; /* Align to the right of the parent */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 0px;
}

.image-description {
  position: relative;
  top: 255px;
  left: 0;
  right: 0;
  height: 50px;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
}

.photo-grid > .image .image-description {
  display: none;
}
