.rank {
  min-width: 50px;
  min-height: 50px;
  background-color: rgba(255, 255, 255, 1);
;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: x-large;
  font-weight: 900;
  position: relative;
  top: -125px;
  left: 35px;
  z-index: 10;
  margin-left: -20px;
}

.first-place {
  z-index: 5;
  position: relative;
  top: 48px;
  left: 93px;
}
