.rank {
  min-width: 50px;
  min-height: 50px;
  background-color: #ffe587;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: larger;
  font-weight: 700;
  position: relative;
  top: -125px;
  left: 35px;
  z-index: 10;
  margin-left: -20px;
}
