.login {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.login__title {
  margin-top: 0;
}

.login__form-group {
  margin-bottom: 10px;
}

.login__label {
  display: block;
  margin-bottom: 5px;
}

.login__input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login__button {
  background-color: #70d9ff;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login__button:hover {
  color: white;
  background-color: #36a5ce;
}

.login__error {
  color: red;
}
