.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  height: 60px;
  padding: 0 30px;
}

.navbar__logo {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  text-decoration: none;
}

.navbar__links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__item {
  margin-left: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  text-decoration: none;
}

.navbar__item:hover {
  color: #36a5ce;
}
