.signup {
  max-width: 400px;
  width: 100%;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
}

.signup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.signup__title {
  margin-top: 0;
}

.signup__form-group {
  margin-bottom: 10px;
}

.signup__label {
  display: block;
  margin-bottom: 5px;
}

.signup__input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.signup__button {
  background-color: #70d9ff;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.signup__button:hover {
  color: white;
  background-color: #36a5ce;
}

.signup__error {
  color: red;
}

.signup__link {
  color: #36a5ce;
  cursor: pointer;
}
